@import "tailwindcss";
@import "./themes.css";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";
@import '@fontsource/ubuntu';

html {
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-text);
    width: 100%;
    height: 100%;
    background-color: var(--color-container-2);
    overflow-x: hidden;
}

.profile{
    border-radius: 33% 67% 82% 18% / 84% 37% 63% 16%;
    object-fit: cover;
}