---
import Layout from "../layouts/layout.astro";
import PdfViewer from "../components/PdfViewer";
import RightArrow from "../components/Icons/RightArrow.astro";

const pdfInfo = {
	url: "/portafolio/documents/cv_joeldominguezneira.pdf",
	name: "CV_Joel_Dominguez.pdf",
};
---

<Layout>
    <div class="flex flex-col h-screen w-full overflow-hidden">
        
        <header class="flex-none z-50 w-full bg-container-2 shadow-md">
            <div class="max-w-7xl mx-auto px-4 py-3 flex items-center justify-between">
                <a
                    href="/portafolio/"
                    class="inline-flex items-center text-text bg-container-2 font-medium text-sm px-4 py-2 cursor-pointer hover:bg-black/5 rounded-lg transition-colors">
                    <RightArrow class="size-5 rotate-180 mr-2"/>
                    Volver
                </a>
                
                <h1 class="text-lg font-bold text-gray-800 dark:text-white truncate mx-4">
                    {pdfInfo.name}
                </h1>
                
                <div class="w-[88px]"></div>
            </div>
        </header>

        <main class="flex-1 w-full relative bg-gray-100 dark:bg-gray-900">
            <PdfViewer
                client:load
                fileUrl={pdfInfo.url}
                fileName={pdfInfo.name}
                height="100%"
            />
        </main>
    </div>
</Layout>