---
import GitHub from "../Icons/GitHub.astro";
import InfoCircle from "../Icons/InfoCircle.astro";
import Linkedin from "../Icons/Linkedin.astro";
import Mail from "../Icons/Mail.astro";
import RightArrow from "../Icons/RightArrow.astro";
import ContactItem from "./ContactItem.astro";
---

<div class="section flex flex-col gap-y-5 mx-15 py-10 mb-10" id="contact">
    <div class="flex gap-2 items-center">
        <InfoCircle class="size-8 fill-text"/>
        <h1 class="text-2xl font-semibold">Contactame</h1>
    </div>
    <hr class="border-t-2 border-t-text"/>
    <div class="flex flex-wrap gap-5 py-5 items-center justify-center">
        <ContactItem title="LinkedIn" link="https://www.linkedin.com/in/joeldominguezn/">
            <Linkedin class="size-6 fill-text"/>
        </ContactItem>
        <ContactItem title="GitHub" link="https://github.com/joeldominguezn">
            <GitHub class="size-6 fill-text"/>
        </ContactItem>
        <ContactItem title="Correo" link="joel.dominguezneira@gmail.com">
            <Mail class="size-6 fill-text"/>
        </ContactItem>
    </div>
    <div class="flex items-center justify-center py-5 gap-2">
        <a
            class="flex 
            items-center p-3 bg-red-200 text-red-500 dark:bg-red-500 dark:text-red-200 
            rounded-xl shadow-2xl font-medium cursor-pointer
            transition hover:scale-110
            "
            href="/view/"
        >
            <RightArrow class="size-8 rotate-90"/>
            <h3 class="text-lg">Descargar CV</h3>
        </a>
    </div>
</div>