---
import Globe from "../Icons/Globe.astro";
---

<div class="flex flex-col gap-y-5 py-5">
    <div class="flex gap-x-2 flex-wrap items-center">
        <Globe class="size-8 stroke-text"/>
        <h1 class="text-2xl font-bold">Lenguajes</h1>
    </div>
    <h2 class="flex gap-x-2 font-bold text-xl">Español: <span class="text-blue-500 dark:text-blue-300 text-xl font-bold">Nativo</span></h2>
    <h2 class="flex gap-x-2 font-bold text-xl">Inglés: <span class="text-teal-500 dark:text-teal-300 text-xl font-bold">Intermedio (B1) - Certificado Oxford Test of English</span></h2>
</div>